<!DOCTYPE html>
<html>
<head>
	<title>Esportizer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<div id="landing">
		<div id="content">	
			<h1 id="Name">Esportizer</h1>
			<h2 id="moto">Unlock your inner dream</h2>
			<div class="route">
					<a href="" class="btn btn-default btn-lg">Find tournaments</a>
					<a href="/recruit/" class="btn btn-default btn-lg">Fill your team</a>
					<a href="/netcafe/" class="btn btn-default btn-lg">Where to go</a>
			</div>
		</div>
		
	</div>
</body>
</html>