.thumbnail img{
	width:100%;
}

.thumbnail{
	padding: 0;
}

#delete-form{
	display:inline;
}

#lol-image{
	background-image: url('../recruit/landing.JPG')
}

.banner{
	height: 400px;
	background-size: contain;
	background-position: center;
}