<%include ../partials/header%>
<div class="container">
		<h1 style="text-align: center">Find a Teammate</h1>
		<div style="width:30%; margin: 25px auto;">
			<form action="/recruit" method="POST">
				<div class="form-group">
					<p>Number of people</p>
					<select class="form-control selectpicker" name="number">
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
					</select>
				</div>
				<div class="form-group">
					<p>Queue</p>
					<select class="form-control selectpicker" name="queue">
						<option value="Solo/Duo">Solo/Duo</option>
						<option value="Flex">Flex</option>
						<option value="Normal">Normal</option>
						<option value="Amateur">Amateur</option>
						<option value="Professional">Professional</option>
					</select>
				</div>
				<div class="form-group">
					<p>Rank</p>
					<select class="form-control selectpicker" name="rank">
						<option value="Iron">Iron</option>
						<option value="Bronze">Bronze</option>
						<option value="Silver">Silver</option>
						<option value="Gold">Gold</option>
						<option value="Platinum">Platinum</option>
						<option value="Diamond">Diamond</option>
						<option value="Master">Master</option>
						<option value="Grandmaster">Grandmaster</option>
						<option value="Challenger">Challenger</option>
						<option value="Any">Any</option>
					</select>
				</div>
				<div class="form-group">
					<p>Position</p>
					<select class="form-control selectpicker" name="position" multiple>
						<option value="Top">Top</option>
						<option value="Jungle">Jungle</option>
						<option value="Mid">Middle</option>
						<option value="Bot">Bottom</option>
						<option value="Support">Support</option>
					</select>
				</div>
				<div class="form-group">
					<p>Description</p>
					<input class="form-control" type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<p>Open time</p>
					<select class="form-control selectpicker" name="expire_at">
						<option value=10>10 Minutes (Free)</option>
						<option value=60>1 Hour (1USD)</option>
						<option value=120>2 Hours (2USD)</option>
						<option value=480>8 Hours (5USD)</option>
						<option value=1440>1 Day (10USD)</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>	
			</form>
			<a href="/recruit">Go Back</a>
		
	</div>
	
</div>

<%include ../partials/footer%>